:root {
    --color-background: #121213;
    --color-grey: #3a3a3c;
    --color-light-gray: #818384;
}

* {
    color: #fff;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

html {
    font-size: 62.5%;
}

body {
    background-color: var(--color-background);
}

h1 {
    font-size: 3.2rem;
}

.game-container {
    height: 90vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.title-container {
    text-align: center;
    width: 51rem;
    border-bottom: 1px solid var(--color-grey);
}

.tile-container {
    font-size: 3rem;
    width: 33rem;
    margin-bottom: 3rem;
}

.key-container {
    width: 51rem;
    display: flex;
    flex-wrap: wrap;
}

.key-container button {
    font-weight: bold;
    width: 4.3rem;
    height: 5.5rem;
    border-radius: 0.5rem;
    border: none;
    background-color: var(--color-light-gray);
    margin: 0.4rem;
}

.key-container button:nth-child(11) {
    margin-left: 3rem;
}

.key-container button:nth-child(20),
.key-container button:nth-child(28) {
    width:6.8rem;
}

.tile-container div {
    display: flex;
}

.tile-container .tile {
    width: 6.2rem;
    height: 6.2rem;
    border: 0.2rem solid var(--color-grey);
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0.2rem;
}

.message-container {
    height: 3rem;
}

.message-container p{
    background-color: var(--color-light-gray);
    border-radius: 1rem;
    padding: 1rem;
    margin: 0;
}

/* Guessing overlays */

.grey-overlay {
    background-color: var(--color-grey) !important;
    border: none !important;
}

.yellow-overlay {
    background-color: #b59f3a !important; 
    border: none !important;
}

.green-overlay {
    background-color: #538d4e !important;
    border: none !important;
}